.ds:hover .list{
    display: block;
}
.subnav:hover .subnav-list{
    display: block;
}
.price::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 50%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    
}

.price:hover::after{
    width: 100%;
    background-color: #000;
}
.open{
    display: block;
}

.nhuongQuyen-tablinks>li.active>a {
    color: rgba(17,17,17,.85);
}

.nhuongQuyen-tab:not(.active) {       
    zoom: 1;
    height: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.nhuongQuyen-tab.active {
    display: block !important;
}

textarea {
    min-height: 120px;
}

/* Product list */
.product-box:hover .product-box_cart {
    visibility: visible;
}