.ds:hover .list{
    display: block;
}
.subnav:hover .subnav-list{
    display: block;
}
.price::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 50%;
    background-color: #ccc;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s;
    
}

.price:hover::after{
    width: 100%;
    background-color: #000;
}
.open{
    display: block;
}


/* Nhuong quyen css */

.spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}

.spinner::before {
    content: '';
    position: absolute;
    background-color: #fbfbfc;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

input[type=email], input[type=date], input[type=search], 
input[type=number], input[type=text], input[type=tel],
select, textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 0.75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    -webkit-transition: color .3s,border .3s,background .3s,opacity .3s;
    -o-transition: color .3s,border .3s,background .3s,opacity .3s;
    transition: color .3s,border .3s,background .3s,opacity .3s;
}

.nhuongQuyen-tablinks>li.active>a {
    color: rgba(17,17,17,.85);
}

.nhuongQuyen-tab:not(.active) {       
    zoom: 1;
    visibility: hidden;
    height: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.nhuongQuyen-tab.active {
    display: block !important;
}

textarea {
    min-height: 120px;
}